<!doctype html>
<html ng-app="it">
<head>
  <title>Issue Template</title>
  <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="./app/vendor/toastr.min.css">
  <link rel="stylesheet" href="./app/styles.css">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.12/angular.min.js"></script>
</head>
<body ng-controller="MainCtrl">
  <a href="https://github.com/kentcdodds/issue-template" ga><img id="improve-me" src="./app/resources/improve.png" alt="Improve on GitHub"></a>
  <div id="main-container" class="center-block">
    <a href="#"><h1>Issue Templates</h1></a>
    <h3 class="text-muted">Templates for GitHub Issues</h3>
    <div class="share-social">
      <iframe src="//ghbtns.com/github-btn.html?user=kentcdodds&repo=issue-template&type=watch&count=true" height="20" width="118" frameborder="0" scrolling="0" style="width:118px; height: 20px;" allowTransparency="true"></iframe>
      <a href="//twitter.com/share" class="twitter-share-button" data-url="http://issuetemplate.com" data-via="kentcdodds" data-text="Templates for GitHub Issues" data-hashtags="issuetemplate" data-lang="en">Tweet</a>
      <div class="g-plusone" data-size="medium" data-annotation="inline" data-width="200" data-href="http://issuetemplate.com"></div>
    </div>
    <div class="ng-cloak">
      <div class="ng-cloak">
        <div ng-show="!user">
          <a href="#" ng-click="login()" ga>Login</a> | <a href="https://github.com/kentcdodds/issue-template" ga>Help</a>
        </div>
        <span ng-show="user">
          {{user.name}} | <a href="#" ng-click="logout()" ga>Logout</a><br />
          <a href="#/new-template" ga>Create New Template</a> | <a href="https://github.com/kentcdodds/issue-template" ga>Help</a>
        </span>
      </div>
    </div>
    <div ng-view></div>
  </div>
  <div id="footer">
    <hr />
    <div class="container center-block">
      <div>
        Created with love by Kent C. Dodds
        <div class="follow-social">
          <iframe src="http://ghbtns.com/github-btn.html?user=kentcdodds&type=follow&count=true" height="20" width="168" frameborder="0" scrolling="0" style="width:168px; height: 20px;" allowTransparency="true"></iframe>
          <a href="https://twitter.com/kentcdodds" class="twitter-follow-button" data-show-count="true" data-lang="en">Follow @kentcdodds</a>
          <div class="g-follow" data-annotation="bubble" data-height="20" data-href="//plus.google.com/114245123507194646768" data-rel="author"></div>
        </div>
      </div>
      <div>
        <a href="http://www.firebase.com/" ga><img id="powered-by-firebase" src="./app/resources/firebase-logo.png" alt="Powered by Firebase"></a>
      </div>
    </div>
  </div>

  <script src="https://cdn.firebase.com/v0/firebase.js"></script>
  <script src="https://cdn.firebase.com/libs/angularfire/0.6.0/angularfire.min.js"></script>
  <script src="https://cdn.firebase.com/js/simple-login/1.2.0/firebase-simple-login.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.9/angular-route.js"></script>

  <script src="http://cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.js"></script>
  <script src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
  <script src="./app/vendor/toastr.min.js"></script>
  <script src="./app/vendor/ga.js"></script>
  <script src="./app/vendor/markdown.min.js"></script>

  <script src="./app/app.js"></script>
  <script src="./app/helper/util.js"></script>
  <script src="./app/helper/filters.js"></script>
  <script src="./app/main/MainCtrl.js"></script>
  <script src="./app/services/LoginService.js"></script>
  <script src="./app/home/HomeCtrl.js"></script>
  <script src="./app/new-issue/NewIssueCtrl.js"></script>
  <script src="./app/templates/TemplateCtrl.js"></script>
  <script src="./app/services/TemplateService.js"></script>
  <script src="./app/services/GitHubService.js"></script>
  <script src="./app/search/SearchTemplatesCtrl.js"></script>

  <!-- Twitter -->
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

  <!-- Google+ -->
  <script type="text/javascript">
    (function() {
      var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
      po.src = 'https://apis.google.com/js/platform.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
    })();
  </script>

  <script>
    //Google Analytics
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-47986805-1', 'issuetemplate.com');
    ga('send', 'pageview');
  </script>
</body>
</html>