<!doctype html>
<html ng-app="it">
<head>
  <title>Issue Template</title>
  <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="./app/styles.css">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.9/angular.min.js"></script>
</head>
<body class="center-block" ng-controller="MainCtrl">
  <a href="https://github.com/kentcdodds/issue-template"><img id="improve-me" src="./app/resources/improve.png" alt="Improve on GitHub"></a>
  <h1>Issue Templates</h1>
  <div class="ng-cloak">
    <a href="#">Back Home</a><br />
    <div class="ng-cloak">
      <a href="#" ng-if="!user" ng-click="login()">Login</a>
      <span ng-if="user">
        {{user.name}} | <a href="#" ng-click="logout()">Logout</a><br />
        <a href="#/new-template">New Template</a><br />
        <a href="#/search">Search Projects</a><br />
      </span>
    </div>
  </div>
  <div ng-view></div>
  <script src="https://cdn.firebase.com/v0/firebase.js"></script>
  <script src="https://cdn.firebase.com/libs/angularfire/0.6.0/angularfire.min.js"></script>
  <script src="https://cdn.firebase.com/js/simple-login/1.2.0/firebase-simple-login.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.9/angular-route.js"></script>

  <script src="http://cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.js"></script>

  <script src="./app/app.js"></script>
  <script src="./app/helper/util.js"></script>
  <script src="./app/helper/filters.js"></script>
  <script src="./app/main/MainCtrl.js"></script>
  <script src="./app/services/LoginService.js"></script>
  <script src="./app/home/HomeCtrl.js"></script>
  <script src="./app/new-issue/NewIssueCtrl.js"></script>
  <script src="./app/templates/TemplateCtrl.js"></script>
  <script src="./app/services/TemplateService.js"></script>
  <script src="./app/services/GitHubService.js"></script>
  <script src="./app/search/SearchTemplatesCtrl.js"></script>
</body>
</html>