<div>
  <h2>{{template.owner}}/{{template.repo}} <small>{{template.name}} issue template</small></h2>
  <a ng-href="#/{{template.owner}}/{{template.repo}}/{{template.name}}/edit" ng-if="isCollaborator" class="btn btn-success">Edit Template</a>
  <div ng-show="!issueUrl && template">
    <form role="form">
      <div class="form-group">
        <label for="issue-title">Issue Title</label>
        <input type="text" class="form-control" id="issue-title" ng-model="issue.title">
      </div>
      <div ng-repeat="field in issue.fields">
        <div class="form-group">
          <label for="field-{{$index}}">{{field.name}}</label>
          <div ng-switch on="field.element">
            <div ng-switch-when="input">
              <div ng-switch on="field.type">

                <div ng-switch-when="radio">
                  <div class="radio" ng-repeat="value in field.value | split">
                    <label>
                      <input type="radio" name="radio-{{$index}}" id="field-{{$parent.$index}}-radio-{{$index}}" value="{{value}}">
                      {{value}}
                    </label>
                  </div>
                </div>

                <div ng-switch-when="checkbox">
                  <div class="checkbox" ng-repeat="value in field.value | split">
                    <label>
                      <input type="checkbox" value="{{value}}">
                      {{value}}
                    </label>
                  </div>
                </div>

                <input ng-switch-default type="{{field.type}}" class="form-control" id="field-{{$index}}" ng-model="field.enteredValue">
              </div>
            </div>

            <textarea ng-switch-when="textarea" class="form-control" id="field-{{$index}}" ng-model="field.enteredValue"></textarea>
            <select ng-switch-when="select" class="form-field" id="field-{{$index}}" ng-model="field.enteredValue">
              <option ng-repeat="value in field.value | split">{{value}}</option>
            </select>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="issue-comments">Other Comments</label>
        <textarea type="text" class="form-control" id="issue-comments" ng-model="issue.comments"></textarea>
      </div>
      <button ng-if="!user" class="btn btn-warning pull-right" ng-click="login()">Login to Submit</button>
      <button ng-if="user" class="btn btn-primary pull-right" ng-click="submitIssue()">Submit Issue</button>
    </form>
    <div>
      <h2>Preview</h2>
      <div>
        <h3>Title:</h3>
        <div>
          {{preview.title}}
        </div>
      </div>
      <div>
        <h3>Body:</h3>
        <pre>{{preview.body}}</pre>
      </div>
    </div>
  </div>
  <div ng-show="issueUrl">
    <div class="alert alert-success">Successfully created an issue: <a ng-href="{{issueUrl}}">{{issueUrl}}</a></div>
    <div><a ng-click="issueUrl=''" class="cursor-pointer">Create New Issue</a></div>
  </div>
  <div ng-show="!template">
    <h1>Uh oh...</h1>
    Looks like there's no template here. <a href="#/search">Search for templates</a>.
  </div>
</div>