body {
  width: 650px;
  margin: 50px 0 150px 0;
}

#improve-me {
  position: absolute;
  top: 0;
  right: 0;
  border: 0;
  max-width: 170px;
}

.form-fields {
  margin-left:20px;
}

#template-template {
  height: 300px;
}

.cursor-pointer {
  cursor: pointer;
}